data/
vendor/
win/data/
win/squashfs/
win/cache/
cmd/data/
cmd/squashfs/
cmd/cache/
cmd/__debug*
cmd/image-transmit*
win/image-transmit*
image-transmit.a*
.idea/
test/
log/
embedded/bin/
build/
bin/
image-transmit
.vscode/
.antigravitycli/
